.homeContainer{
 background-image: url('../assets/imgSegInfo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: block;
  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
} 

h1{
    color: white;
    margin-top:10vh;
    margin-left: 10vh;
    font-size: 5vh;
    font-family: 'Montserrat', sans-serif;

}

.introduccion{
    color:white;
    margin-top: 40px;
    width: 80vh;
    height: 20vh;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* Más delgada */
}
