.quizContainer{
  background-image: url('../assets/quiz.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  }

  .acheUno{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  justify-content: left;
  margin:0;
  box-shadow: 0 10px 10px rgba(111, 111, 118, 0.573);
  margin-top: 2vh;
}
.acheDos{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  display: flex;
  justify-content: left;
  margin-top: 3vh;
  margin-left: 1rem;
}

.contenedorFin {
  background-color:#ebeff3; 
  min-height: 86vh;
  display: flex; 
  justify-content: center; 
  box-sizing: border-box;
}

.resultado h3{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
}

.resultado p{
  font-size: 5vh;
  color:black;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10vh;
}

