.quizContainer{
  background-image: url('../assets/quiz.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  }

  .acheUno{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  justify-content: left;
  margin:0;
  box-shadow: 0 10px 10px rgba(111, 111, 118, 0.573);
  margin-top: 2vh;
}
.acheDos{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  display: flex;
  justify-content: left;
  margin-top: 3vh;
  margin-left: 1rem;
}

.contenedorFin {
  background-color:#ebeff3; 
  min-height: 86vh;
  display: flex; 
  justify-content: center; 
  box-sizing: border-box;
}

.resultado h3{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
}

.resultado p{
  font-size: 5vh;
  color:black;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10vh;
}

.botonesFin {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

.finUno{
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.finDos{
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.finUno:hover, .finDos:hover{
  background-color: #5b2a9d;
  box-shadow: 0 10px 10px rgba(54, 16, 129, 0.616);
  color:white;
}

.options{
  background-color: rgba(82, 31, 136, 0.297);
  height: 70vh;
  width: 70vh;
  margin-left: 8vh;
  border-radius: 20px;
  margin-top: 11vh;
  flex-direction: column;
  display: flex;
  gap:3rem;
  color:red;
}

.optionLabel{
  margin-left: 1rem;
  font-size: 3vh;
  color:black;
  font-family: 'Open Sans', sans-serif;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #5b2a9d;
  cursor: pointer;
  margin-right: 1rem;
}